*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
.container{
    width: 1920px;
    height: 1200px;
    margin: 0 auto;
    position: relative;
}
.header__info{
    width: 1400px;
    margin: 0 auto;
    padding-top: 31px;
}
.nav{
    margin-bottom: 800px;
    margin-left: 50px;
}
.nav ul{
    display: flex;
    align-items: center;
    gap: 27.49px;
    font-weight: 400;
    font-size: 11.8px;
    line-height: 19.6px;
    color: white;
}
.nav ul img{
    margin-right: 37.52px;
    margin-top: -7px;
}
video{
    position: absolute; 
    width: 1920px;
    height: 1200px;
    z-index: -2;
    object-fit: cover;
}
.someinfo{
    margin-left: 50px;
    text-align: start;
    color: white;
}
.someinfo__h2{
    font-weight: 400;
    font-size: 17.19px;
    line-height: 38px;
}
.someinfo__h1{
    font-weight: 400;
    font-size: 41.06px;
    line-height: 48px;
    margin-bottom: 20px;
}
.someinfo__btn{
    width: 130px;
    height: 50px;
    border: 2px solid white;
    background-color: transparent;
    color: white;
    font-weight: 400;
    font-size: 12.91px;
    line-height: 50px;
}
.icon{
    margin-top: 120px;
    margin-left: 945px;
}
.someinfo1{
    margin-left: 310px;
    position: relative;
    top: 850px;
    text-align: start;
    color: white;
}
.icon1{
    margin-top: 960px;
    margin-left: 945px;
}
.someinfo1__h2{
    font-weight: 400;
    font-size: 17.19px;
    line-height: 38px;
}
.someinfo1__h1{
    font-weight: 400;
    font-size: 41.06px;
    line-height: 48px;
    margin-bottom: 20px;
}
.someinfo1__btn{
    width: 130px;
    height: 50px;
    border: 2px solid white;
    background-color: transparent;
    color: white;
    font-weight: 400;
    font-size: 12.91px;
    line-height: 50px;
}
.someinfo1__btn1{
    width: 164px;
    height: 54px;
    border: 2px solid white;
    background-color: transparent;
    color: white;
    font-weight: 400;
    font-size: 12.91px;
    line-height: 50px;
}
.footer{
    background-color: black;
    height: 81px;
    padding-top: 30px;
}
.footer ul{
    display: flex;
    color: white;
    justify-content: center;
    font-weight: 400;
    font-size: 10px;
    line-height: 24px;
    gap: 44.245px;
}